@font-face {
	font-family: Helvetica;
	src: url(../fonts/HelveticaLTStd-Roman.ttf);
}
/* Estilos del cuerpo de la pagina */
body {
  font-family: Helvetica;
}
.container {
	border-radius: 10px 10px 0px 0px;
}
.titulo {
	color: #ffffff;
  text-shadow: 1px 1px 2px #02010a;
}
.navbar_top {
	color: #ffffff;
}
#navbar {
  background-color: #a93e05;
}
a {
  color: #ffffff;
  text-decoration: none;
}
#articulo {
	border-radius: 0px 10px 0px 10px;
}
#search {
		border-radius: 10px 0px 0px 0px;
}
#cancion {
	width: 100%;
}
h4 {
    color: #a93e05;
}
#list_nav a {
	color: #000000;
}
#list_nav a:hover {
	color: #ffffff;
	background-color: #a93e05;
}
@media (max-width: 767px) {
		/* Container e imagenes */
	#lista {
    justify-content: center !important;
    align-items: baseline !important;
	}
